// Devices sizes
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1440px;
$bp-desktop-m: 1680px;
$bp-desktop-l: 1920px;
$bp-desktop-xl: 2560px;

// Fonts
$title_font: "Space Grotesk", sans-serif;
$primary_font: "Inter", sans-serif;

// Colors
$white: #ffffff;
$grey: #e5efff;
$green: #dfffea;
$blue: #d6f0fa;

$background-color: linear-gradient(90deg, #2a7b9b 0%, #57c785 100%);
