@use "../abstracts/index" as *;

.hero {
  text-align: center;

  &_img {
    border-radius: 50px;
    margin-top: 18px;

    @include breakpoint(desktop) {
      width: 40%;
      margin-top: 2em;
    }
  }

  &_subtitle {
    margin-top: 18px;

    @include breakpoint(desktop) {
      max-width: 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
}

.hero_container {
  @include breakpoint(desktop) {
    display: flex;
    justify-content: space-around;
  }
}
