@use "../abstracts/index" as *;

.blog_page {
  &_nav {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;

    @include breakpoint(tablet) {
      margin: auto;
      margin-top: 2em;
      gap: 2em;
    }

    @include breakpoint(desktop) {
      flex-direction: row;
    }

    &_item {
      display: flex;
      flex-direction: column;
      gap: 1em;

      @include breakpoint(desktop) {
        width: 50%;
      }

      &_img {
        border-radius: 50px;
      }
    }
  }
}
