@use "../abstracts/index" as *;

.lenguaje-natural {
  &_item {
    display: flex;
    flex-direction: column;
    gap: 1em;

    &_contain {
      @include breakpoint(desktop) {
        display: flex;

        figure {
          width: 40%;
        }
      }
    }

    &_img {
      border-radius: 50px;
      @include breakpoint(desktop) {
        width: 100%;
      }
    }

    @include breakpoint(desktop) {
      .subtitle2 {
        width: 40%;
        margin: auto;
      }
    }

    &_title2 {
      margin-top: 1em;
    }
  }
}
